body {
  background-color: rgb(77, 33, 33);
  color: whitesmoke;
}

.btn {
  background-color: rgba(32, 32, 109, 0.521);
  color: whitesmoke;
  border: 2px solid rgb(158, 39, 39);
  width: 10rem;
  height: auto;
}

.btn:hover {
  background-color: rgb(153, 42, 2);
  transition: 0.7s;
}

.large-padding {
  padding-top: 30px;
  padding-left: 230px;
}

.hidden {
  display: none;
}

.img-size {
  width: 70vw;
  height: auto;
}